.App {
  font-family: sans-serif;
  text-align: center;
  color: rgb(220, 220, 220);
}

.ClickMe {
  font-size: 40px;
  border: none;
  padding: 10px;
  background-color: rgb(36, 69, 27);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ClickMe:hover {
  background-color: rgba(36, 69, 27, 0.5);
}

body {
  background-color: rgb(18, 18, 18);
}
